{% load markdownify %}

{% for respuesta in discusion.respuestas.all %}
<div class="answer-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <div>
                    <div>
                        <span>
                            <i class="fa fa-user"></i> {{ discusion.pregunta.autor }}
                        </span>
                        <span>
                            <i class="fa fa-clock-o"></i> {{ discusion.pregunta.created | date }}
                        </span>
                        <hr>
                    </div>
                    <div>
                        {{ respuesta.cuerpo|markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
