
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %}</title>

    {% load static %}
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'font-awesome/4.2.0/css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block css %}{% endblock css %}
</head>
<body>
    <div id="wrapper">
        <div class="wrapper-authentication">
            {% block body %}
            {% endblock body %}
        </div>
    </div>
</body>
