{% extends 'authentication_base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<a class="pull-right" title="Ir a al inicio" href="{% url 'qa:index' %}">
    <i class="fa fa-3x fa-home"></i>
</a>
<h4>Bienvenido a VocationQA</h4>
{% if next %}
    {% if user.is_authenticated %}
    <p>No tienes acceso a esta pagina. Para proceder
    por favor acceda con otra cuenta que tenga permisos suficientes.</p>
    {% else %}
    <p>Por favor acceda para ver esta pagina.</p>
    {% endif %}
{% endif %}
<div>

</div>
    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary btn-block" style="margin-bottom:10px;" type="submit">
            Acceder
        </button>
        <p> No tienes una cuenta? </p>
        <a class="btn btn-success btn-block" href="{% url 'authentication:new_user' %}">Crea una cuenta</a>
    </form>
</div>
{% endblock body %}
