body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #676a6c;
    background-color: #f8f9fa;
}

a:hover, a:focus {
    text-decoration: none;
}

a {
    cursor: pointer;
}

.navbar-header a {
    font-size: 25px;
}

#site-box-search {
    width: auto;
}

#site-mark {
    background-color: #555b62;
    padding: 2px 7px;
}

#site-description {
    color: white;
}

.wrapper-authentication {
    text-align: center;
    max-width: 400px;
    padding-top: 40px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding: 15px;
}

.btn-white {
    background-color: white;
}

.discusion-wrapper {
    font-size: 14px;
}

.question-wrapper {
    background-color: white;
    box-shadow: 0 12px 15px -6px #777;
    padding: 20px;
    margin-bottom: 30px;
}

#answers-count{
    margin-bottom: 15px;
}

.answer-wrapper {
    background-color: white;
    padding: 20px;
    margin-bottom: 5px;
}

.answer-list {
    padding-left: 20px;
}

.action-container {
    margin-top: 20px;
}

.action-list button{
    font-size: 12px;
}

.tag {
    margin-right: 10px;
    padding: 2px 5px;
    border-radius: 2%;
}

.tag-danger {
    background-color: #a20505;
    color: white;
    font-weight: bold;
}

.tag-warning {
    background-color: #ffc107;;
    font-weight: bold;
    color: black;
}
